<!-- <!DOCTYPE html> 
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Interview Well Prediction App</title>
    </head>
    <body>
        <form action="/" method="post">
            <input type="text" name="Price"></input><br>
            <input type="text" name="Year"></input><br>
            <input type="text" name="NumberOfRatings"></input><br>
            <input type="submit" value="Predict Wine Rating"></input>
          </form>
          <p>Prediction: {{prediction}}</p>
    </body>
</html> -->

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Wine Rating Prediction App</title>
    <style>
        *{
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
        body{
            background: rgb(219, 226, 226);
        }
        .row{
            background: white;
            border-radius: 30px;
            box-shadow: 12px 12px 22px grey;
        }
        img{
            border-top-left-radius: 30px;
            border-bottom-left-radius: 30px;
        }
        .container {
            position: relative;
        }
        .btn1{
            width: 100%;
        }
        .btn2{
            width: 57%;
        }
        .center1{
            padding-top: 100px;
            margin: auto;
        }
    </style>
  </head>
  <body>

    <section class="Form my-4 mx-4 center1">
        <div class="container">
            <div class="row no gutters">
                <div class="col-lg-5">
                    <img src="https://www.thinkitchen.in/cdn/shop/articles/11_Types_of_Wine.jpg?v=1711203288" class="img-fluid mt-5" alt="">
                </div>
                <div class="col-lg-7 px-5 pt-5">
                    <h1 class="font-weight-bodl py-3">Wine Rating Predictor</h1>
                        <form action="/" method="post">
                            <div class="form-row">
                                <div class="col-lg-7">
                                    <input type="text" placeholder="Year" name="Year" class="form-control my-1 p-2">
                                </div>
                            </div>
                              <div class="form-row">
                                <div class="col-lg-7">
                                    <input type="text" placeholder="Price" name="Price" class="form-control my-1 p-2">
                                </div>
                            </div>
                              <div class="form-row">
                                <div class="col-lg-7">
                                    <input type="text" placeholder="NumberOfRatings" name="NumberOfRatings" class="form-control my-1 p-2">
                                </div>
                              <div class="form-row">
                                <div class="col-lg-7">
                                    <button type="submit" width="" class="btn btn-outline-primary mt-3 mb-3 p-2 btn1">Predict Wine Rating</button>
                                </div>
                            </div>
                            {% if prediction|string() == "True"|string() %}
                            <button type="button" class="btn btn-success mb-4 p-2 btn2">{{ prediction }}</button>

                            {% elif prediction|string() == "False"|string() %}
                            <button type="button" class="btn btn-warning  mb-4 p-2 btn2">{{ prediction }}</button>
                            {% else %}
                            <button type="button" class="btn  mb-4 p-2 btn2"></button>
                            {% endif %}
                        </form>
                 </div>
            </div>
        </div>
    </section>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>